.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.react-player__play-icon, 
.react-player__pause-icon {
  fill: white; /* Adjust icon color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Adjust shadow properties */
}

.react-player__slider {
  background: rgba(0, 0, 0, 0.3); /* Adjust slider background color */
  fill: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); /* Adjust shadow properties */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.selected-file {
  border: 1px solid #000; /* Adjust border color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Adjust shadow properties */
  background-color: #f0f0f0; /* Adjust background color */
  color: #000; /* Adjust text color */
}

.App-header {
  background-color: white;
  min-height: 100vh; ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
